<div class="container">
  <div class="row feature-card-wrapper">
    <!-- ***** Feature Card Start ***** -->
    <div class="col-md-4 col-sm-6">
      <div class="feature-card">
        <div class="feature-card-container">
          <img src="https://cdn-icons-png.flaticon.com/128/1532/1532690.png" alt="Map Integration">
          <div class="text-content">
            <h3>Map Integration</h3>
            <p>Efficiently book your taxi rides with our interactive map integration.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Feature Card End ***** -->

    <!-- ***** Feature Card Start ***** -->
    <div class="col-md-4 col-sm-6">
      <div class="feature-card">
        <div class="feature-card-container">
          <img src="https://cdn-icons-png.flaticon.com/128/3094/3094959.png" alt="Never Late">
          <div class="text-content">
            <h3>Always On Time</h3>
            <p>Enjoy punctual and reliable taxi services for every ride you book.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Feature Card End ***** -->

    <!-- ***** Feature Card Start ***** -->
    <div class="col-md-4 col-sm-6">
      <div class="feature-card">
        <div class="feature-card-container">
          <img src="https://cdn-icons-png.flaticon.com/128/8955/8955262.png" alt="24/7 Support">
          <div class="text-content">
            <h3>24/7 Customer Support</h3>
            <p>Our dedicated support team is available round the clock to assist you.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Feature Card End ***** -->
  </div>
</div>
