<section class="py-5" style="margin-top: 100px; font-family: Khand">
  <div class="container">
    <div class="row gx-4 align-items-center justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <div class="mt-5 mt-md-0 text-center text-md-start">
          <h1 class="display-5 fw-bold">About Us</h1>
          <br>
          <p class="lead">
            Welcome to our Taxi Service, where we prioritize your comfort and safety.
            Our mission is to provide reliable, and efficient transportation
            solutions for all your needs.
          </p>
          <p class="lead">
            With a fleet of well-maintained vehicles and professional drivers, we ensure you
            reach your destination on time, every time.
          </p>
        </div>
      </div>
      <div class="col-md-6 offset-md-1 order-1 order-md-2">
        <div class="row gx-2 gx-lg-3">
          <div class="col-6">
            <div class="mb-2"><img class="img-fluid rounded-3" src="https://i.pinimg.com/564x/45/90/6c/45906c779cf3b203672b5cf06c4c1e20.jpg" style="width: 100%; height: 250px; object-fit: cover;"></div>
          </div>
          <div class="col-6">
            <div class="mb-2"><img class="img-fluid rounded-3" src="https://i.pinimg.com/564x/61/f7/d0/61f7d0e1c04e5c128715a5f3f0d24e7b.jpg" style="width: 100%; height: 250px; object-fit: cover;"></div>
          </div>
          <div class="col-6">
            <div class="mb-2"><img class="img-fluid rounded-3" src="https://i.pinimg.com/564x/09/c7/f3/09c7f37ab58f41d683a4e20a447acf89.jpg" style="width: 100%; height: 250px; object-fit: cover;"></div>
          </div>
          <div class="col-6">
            <div class="mb-2"><img class="img-fluid rounded-3" src="https://i.pinimg.com/564x/20/66/80/2066807f8015869084b7bf954afdf8c6.jpg" style="width: 100%; height: 250px; object-fit: cover;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
